.text-center {
    text-align: center;
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
  max-width: 750px;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color:white;
}
#title {
    font-weight: 400;
    line-height: 1.2;
}
.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
body {
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);   
}
form {
    display: block;
    padding: 2.5rem;
    background: rgba(27, 27, 50, 0.8);
}
.form-group {
    padding:  auto 1.25rem auto;
    margin: 0.60rem;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
    color:white;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 0.375rem 0.75rem;
    color: #495057;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.input-radio,.input-checkbox {
display:inline-block;
margin-right: 0.625rem;
min-height:1.25;
min-width: 1.25;
}
.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}
.input-textarea{  
     min-height:120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    border:1px solid black;
    border-radius: 0.25rem;
}
input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.submit-button{
    display:block;
    width:104%;
    background-color: #37af65;
    color:white;
    height:3rem;
    border:1px solid black;
    border-radius: 0.40rem;
    text-align: center;
}