a {
	text-align: center;
}

body {
	margin: 0;
}

.header {
	background-color: black;
	padding: 20px;
	text-align: center;
	color: white;
}

  .topnav {
	overflow: hidden;
	background-color: black;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: white;
	color: black;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }

  .topnav a.split {
	float: right;
	background-color: red;
	color: white;
  }
  
.navbar {
	background-color: green;
	display: grid;
}

.nav {
	list-style-type: none;
	background-color: green;
}

.nav ul {
	text-align: center;
	margin: 0;
}

.nav li a {
	color: black;
	background-color: grey;
	padding: 14px 16px;
	float: left;
	display: block;
	margin: 0;
}

.nav li a:hover {
	background-color: #ddd;
	color: black;
}

.column {
	float: left;
	width: 20%;
	padding: 25px;
	margin: 0px;
	text-align: center;
}

.row {
	margin: 0;
	position: absolute;
	top: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
.container .vertical-center a:hover {
	background-color: green;
	color: white;
}

.container {
	width: 100%;
	position: relative;
}

.feature {
	width: 100%;
	position: relative;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
  }

  .container .vertical-center a:link {
	background-color: red;
	color: black;
	border: 2px solid black;
	padding: 20px 12px;
	text-align: center;
	text-decoration: none;
}
@media screen and (max-width:600px) {
	.column {
		width: 100%;
	}
}
table,td,th {
    border:5px solid black;
    text-align: center;
}
table {
    width:100%;
    border-collapse: collapse;
}

.pricing {
    margin: 100px;
    margin-top: 400px;
}
.about img {
    margin-left: 50%;
}