
body{
  background-image:url('../img/verify.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: fixed;
  text-align: center;
}
h1,p{
    color:skyblue;
}