*{
    margin-left: 0px;
    margin-right: 0px;
}
.header {
    margin-top: 0px;
    background-color:#222222;
    z-index: 1;
    position: fixed;
    width: 100%;
    top:0px;
    color:#989898;
}
.h1{
    display: inline-block;
}

.h1 p{
  display: inline-block;
 
}
.h2{
    display: inline-block;
   
}
.h3{
    float:right;

}
.machine{
    background-color: #666666;
    color:#dcdcdc;
    margin-top: 44px;
    height: 200px;

}
.machine p{
    text-align: center;
    margin-top: 10px;

}
.machine img{
    text-align: center;
    margin-left: 400px;
}
