h1{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    
 }
 .name{
     text-align: center;
     margin-top: 100px;
     margin-bottom: 50px;
 }
 .jumbotron h1{
     text-align: center;
 }
 .education{
     margin-left: 50px;
 }
 .education h2{
     text-align: center;
 }
 @media (max-width:1000px){
     .education a img {
       width:100%;
       height: 200px;
     }
 }
 
 .social-links a {
     color: black;
     text-decoration: none;
     margin-right: 10px;
     font-size: 30px;
 }
 .svg-inline--fa {
     display: inline-block;
     font-size: inherit;
     text-align: center;
     height: 1em;
     overflow: visible;
     vertical-align: -0.125em;
 }
 .project{
     margin-top: 100px;
 }
 .project img{
  margin-left: 0px;
 }
 
 .project .jumbotron h2{
     text-align: center;
 }
 @media (max-width: 1000px){
     .project img{
         display: flex;
         justify-content: center;
     }
 }
 
  .jumbotron img{
     display: flex;
     justify-content: center;
     display: inline-block;
    
 }
 .gallery h2{
     text-align: center;
 }
 .gallery-row {
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
 }
 .gallery-item {
     overflow: hidden;
     padding: 0 5px 0 5px;
 }