body{
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 0px;
}
.header {
    text-align: left;
    background-color: red;
    color: white;
    padding: 3px;    
}
.header h1 {
    color: white;
}
nav {
    background-color: white;

}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
}

nav a:hover {
    background-color: black;
    color: red;
}
@media (max-width: 1000px) {
    nav a {
        width: 100%;
    }
}
.about {
    text-align: center;
    background-color: white;
    color:black;
}

.about-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.heading{
    font-size: 70px;
    text-shadow: 1px 1px 0 black;
    text-align: center;
    animation: bounce 1s infinite;
}
.Education{
    background-color: white;
    color:black
}
.about .address {
    font-size: 40px;
}
.social-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.Education.college {
   color: black;
}
.Education a {
    color:red;
    text-decoration: none;
    margin-left: 600px;
    
}
.Education h1,a,h2,p,img {
    text-align: center;
}
@media (max-width: 1000px) {
    .Education a {
        color:red;
        text-decoration: none;
        margin-left: 90px;
    } 
}
.projects{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.projects-section {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.projects-content {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    margin-top: 20px;

    
}
@media (max-width: 1000px){
    .project-grid {
        display: grid;
        gap: 20px;
        margin-top: 20px;
    }  
}
.project-item {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    background-color: #333;
}
.gallery-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.gallery-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.gallery-item {
    overflow: hidden;
    padding: 0 5px 0 5px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
@media (max-width:1000px){
    .gallery-item img {
        width: 100%;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
    }  
}
.gallery h2 {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}