*{
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.header {
    margin-top: 0px;
    background-color: red;
    z-index: 1;
    position: fixed;
    width: 100%;
    top:0px;
}
.header h1 {
    width: 100px;
    height: 50px;
    margin-top: 3px;
    padding-left: 15px;
    color: white;
    display: inline;
}
 .nav {
    display: inline;
    background-color: red;
    float: right;
    width:100%;
}
ul{
list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
li {
    color: white;
    padding-right:  15px ;
    max-width: 80px;
    text-align: center;
}
 .nav  a {
    display: inline;
    float: right;
    color: white;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 1px 3px;
    text-decoration: none;
    font-size: 16px;
    background-color: red;
}

.nav a:hover {
    color: black;
}
.name {
    margin-top: 200px;
    margin-bottom: 200px;
}

.about {
    text-align: center;
    background-color: #f9f9f9;
    color:black;
    padding-bottom: 40px;
    
}
.about h1{
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    text-align: center;
    margin-right: 0px;
}


.about-content p{
    font-family:verdana;
    font-size: 20px;
    text-align:justify;
    line-height:30px;
    display:flex;
    justify-content: center;
    margin: 120px;
}
@media (max-width:1000px) {
    .about-content p{
        font-family:verdana;
        text-align:justify;
        line-height:30px;
        display:flex;
        justify-content: center;
        margin: 50px;
    }
}

.about-content h1{
    text-align: center;
}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.heading{
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    text-align: center;
    margin-right: 0px;
}
.head{
    font-size: 70px;
    text-shadow: 1px 1px 0 black;
    text-align: center;
    animation: bounce 1s infinite;
    margin-right: 0px; 
}
 .head span {
    color:red;
}
@media (max-width:1000px){
    .head{
        font-size: 30px;
        text-shadow: 1px 1px 0 black;
        text-align: center;
        margin-right: 0px; 
    }
      
}

@keyframes bounce {
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }

    }
    
.red{
    color:red;
}
 .head .white{
    color:black;
}
.Education{
    background-color: white;
    color:black;
    line-height: 40px;
}
.Education  p{
    line-height: 20px;
}
.Education a {
    color:red;
}
.Education a:hover {
 color:black;
}


 .address {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    padding: 10px 0px 10px 0px;

}
@media (max-width:1000px){
    .address {
        font-size: 16px;
        margin-top: 0px;
        text-align: center;
    }
}   
    .social-skills .button {
        margin-top: 10px;
        
    }
    .social-skills .button a {
        background-color: red;
        color: white;
        padding: 7px;
        text-decoration: none;
        margin-left: 620px;
        font-size: 15px;
        margin-top: 5px;
      }
  
  @media (max-width:1000px){
    .social-skills .button a {
        background-color: red;
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0px 106px;
      }
  }
.social-links{
    text-align: center;
}
.social-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
}
@media (max-width:1000px){
    .social-links{
        margin-left:25px;
    }
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    text-align: center;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.Education{
    background-color: white;
    color:black;
}
.Education.college {
   color: black;
}
.Education a {
    color:red;
    text-decoration: none;
    margin-left: 250px;
}
.Education p{
    margin-left: 250px;
}
@media (max-width:1000px){
    .Education p  {
       margin-left: 130px;
    }
}

@media (max-width: 1000px) {
    .Education a {
        margin-left: 90px;
    } 
}

.projects{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.projects-section {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.projects-content {
    width: 80%;
    max-width: 800px;
    background-color: #f9f9f9;
    margin-bottom: 50px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    margin-top: 20px;  
}
@media (max-width: 1000px){
    .project-grid {
        display: grid;
        gap: 20px;
        margin-top: 20px;
    }  
}
.project-item {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    background-color: #333;
}
.project-item img {
    height:300px;
    width:250px
}
@media (max-width:1000px){
    .project-item img {
        height:200px;
        width:100px
    }
}
.gallery-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.gallery-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.gallery-item {
    overflow: hidden;
    padding: 0 5px 0 5px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
@media (max-width:1000px){
    .gallery-item img {
        width: 100%;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
    }  
}
.gallery h2 {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}